

<header> 
<nav>

    <ul class="nav_header">
    <li><a href="/">HOME</a></li>
    <li><a href="/about">ABOUT</a></li>
    <li><a  href="/team">TEAM</a></li>
    <li><a  href="/booking">BOOKING</a></li>
  
    <img src="assets/img/vector.png" alt="">

    
    <li><a  href="/menu">MENU</a></li>
    <li><a  href="/galerie">GALERIE</a></li>
    <li><a  href="/events">EVENTS</a></li>
    <li><a  href="/contact">CONTACT</a></li>
</ul>
</nav>
</header>