

<header> 
<nav>

    <ul class="nav_header">
    <li><a href="/">HOME</a></li>
    <li><a href="/about">ABOUT</a></li>
    <li><a  href="/team">TEAM</a></li>
    <li><a  href="/booking">BOOKING</a></li>
    </ul>
    <img src="assets/img/vector.png" alt="">

    <ul  class="nav_header">
    <li><a  href="/menu">MENU</a></li>
    <li><a  href="/galerie">GALERIE</a></li>
    <li><a  href="/events">EVENTS</a></li>
    <li><a  href="/contact">CONTACT</a></li>
</ul>
</nav>
<!--   <img src="assets/img/lines.svg" alt=""> -->
  <section id="hero" >
     <article id="zeit">
        <p>Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM</p>
     </article>

     <article id="heroMain">
        <img id="line2" src="assets/img/Rect.png" alt="">
        <h6>RESTAURANT</h6>
        <h1>HUNGRY PEOPLE</h1>
       
        <img src="assets/img/line.png" alt="" class="line">
        <div>
            <a id="book" href="">BOOK TABLE</a>
            <a id="explore" href="">EXPLORE</a>
        </div>
        <a  href=""><img class="slide-bottom" src="assets/img/down-btn.png" alt=""></a>
    </article>
    <article id ="soial_media">
        <a href=""><img src="assets/img/facebook.png" alt=""></a>
        <a href=""><img id="tw" src="assets/img/tw.png" alt=""></a>
        <a href=""><img src="assets/img/instagram.png" alt=""></a>
    </article>

  </section>
</header>