<%- include ('./partials/head') %>
<%- include('./partials/nav') %>

<main>
   <div id="img_404">
    <img  src="assets/img/Sailor.png" alt="">
   </div>
</main>


<%- include ('./partials/footer') %>