<%- include ('./partials/head') %>
<%- include('./partials/nav') %>
<main id="mainBooking">
    <section class="mainFlex">
       
        <article>
            
            <form id="form_booking" action="">
                        <article id="books">
                            <h2>BOOK A TABLE</h2>
                            <img src="assets/img/Rect.png" alt="" class="liness">
                        </article>
                <article>
                    <input class="inputBox" type="text" name="" placeholder="Name">
                    <input class="inputBox" type="email" name="" placeholder="Email">
                </article>
                <article>
                    <input class="inputBox" type="text" name="" placeholder="Phone">
                    <select class="inputBox" name="People" id="people">
                        <option value="">People</option>
                        <option value="">Miriam</option>
                        <option value="">Michael</option>
                        <option value="">Noah</option>
                    </select>
                </article>
                <article>
                    <input class="inputBox" type="date" name="" placeholder="Date">
                    <select class="inputBox" name="here">
                        <option value="">Time</option>
                        <option value="">11:00</option>
                        <option value="">13:00</option>
                        <option value="">15:00</option>
                        <option value="">17:00</option>
                        <option value="">19:00</option>
                    </select>
                </article>
                <input class="btnWide" type="button" value="BOOK NOW">
            </form>
        </article>
        <article class="mainFlexFrame">
            <img class="img" src="assets/img/img.png" alt="">
            
        </article>
       <div id="zeit_booking"> <p>Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM, Phone: +40 729 131 637/+40 726 458 782</p></div>
    </section>
</main>


<%- include ('./partials/footer') %>