<%- include ('./partials/head') %>
<%- include('./partials/nav') %>
<main>
   <article class="contact_info">
    <h2>CONTACT</h2>
    <img src="assets/img/Rect.png" alt="">
    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</h5>
   </article>
   <form action="">
       <input type="text" name="" id="name" placeholder="Name">
       <input type="email" name="" id="email" placeholder="Email">
       <input type="number" name="" id="number" placeholder="Phone">
       <br>
       <br>
       <input type="text" name="" id="message" placeholder="Message">
      
      <div> <img id="img_contact" src="assets/img/contact.png" alt=""></div>
       
       <input type="submit" value="SEND MESSAGE" id="submit">
   </form>
   <article class="map">
    <img src="assets/img/map.png" alt=" ">
   </article>
</main>


<%- include ('./partials/footer') %>