<%- include ('./partials/head') %>
<%- include('./partials/nav') %>
<main id="event-bk">
<section class="main_event">
    <h4>PRIVATE EVENTS</h4>
    <section class="event">
     
        <div>
            <img src="assets/img/Group3.png" alt="">
        </div>
        <div>
            <img src="assets/img/Group2.png" alt="">
        </div>
       
    </section>
    <p>For private events please call: +40 729 131 637/+40 726 458 782 or use the contact form.</p>
</section>
</main>
<%- include ('./partials/footer') %>