<%- include ('./partials/head') %>
<%- include('./partials/nav') %>
<section id="galerie_bk"> 
<main class="maingalerie">
    <h6>SPECIALITIES</h6>
    <section class="galerie_info">
        <article >
            <img class="img_gr" src="assets/img/ice.png" alt="">
        </article>
        <article class="galerie_text">
            <h2>CHOCOLATE PANCAKES</h2>
            <img src="assets/img/Rect.png" alt="">
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at <br> velit maximus, molestie est a, tempor magna.</h5>
            <p>Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non <br> ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a <br> sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla <br> facilisis semper laoreet.</p>
            <div></div>
        </article>
    </section>
</main>
</section>


<%- include ('./partials/footer') %>