<%- include ('./partials/head') %>
<%- include('./partials/nav') %>
<main class="main_about">
    <article class="mainFlexText">
        <h2>ABOUT US</h2>
        <img src="assets/img/Rect.png" alt="">
        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at <br> velit maximus, molestie est a, tempor
            magna.</h5>
        <p>Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non <br> ultrices ligula. Sed
            dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a <br> sollicitudin lorem quam nec sem. Mauris
            tincidunt feugiat diam convallis pharetra. <br> Nulla facilisis semper laoreet.</p>
        <div></div>
    </article>
    <article class="mainFlexFrame">
        <img class="img" src="assets/img/fire.png" alt="">
        <div class="frameRight"></div>
    </article>
</main>

<%- include ('./partials/footer') %>