
*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  height: 110vh;
 
}
nav{
    display: flex;
    justify-content: space-evenly;
}
  nav .nav_header{
  
    display:flex;
    justify-content: space-between;
    list-style-type: none;
     width: 70%; 
     border-bottom : 1px solid rgba(255, 255, 255, 0.2);
     margin-left: 7%;
     margin-right:7%;
     align-items: center;
     height: 12vh;
}
.nav_header li{
    list-style: none;
}
.nav_header a{
    text-decoration: none;
    color: #fff;
    font-size: .9em;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

.nav_header img{
    margin-left: 15px;
    transform: translateY(47px);
}