.main_about
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 20%;
   
}
.mainFlexFrame
{
    margin-left: 20%;
    margin-top: 10%;
}
.frameRight
{
    background: url(../img/abou2.png);
    width: 100%;
    height: 40vh;
    position: absolute;
    width: 250px;
    height: 250px;
    left: 1550px;
    top: 1710px;
    border: 20px solid #E8C300;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
    border-radius: 5px;

}
.mainFlexText
{
    text-align: center;
    margin-top: 25%;
    margin-left: 15%;
    /* width: 50%; */
}

.mainFlexText h2{
font-family: 'Banny';
font-size: 36px;
line-height: 48px;
text-align: center;
text-transform: uppercase;
color: #000000;
}
.mainFlexText h5
{
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 28px;
text-align: center;
margin-bottom: 3%;
color: #000000;
}
/* 404 */
#img_404 img
{
    width: 40%;
    
}
#img_404 
{
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
/* Contact */
.contact_info
{
   text-align: center;
    margin-top: 25%;
}
.contact_info h5
{
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 28px;
width: 25%;
margin-left: 37%;
margin-top: 1%;
color: #000000;
}
#name,#email,#number
{
width: 421px;
background: #E5E5E5;
padding-bottom: 35px;
border-radius: 5px;
padding-top: 10px;
padding-left: 2px;
}
#message
{
background: #E5E5E5;
border-radius: 5px;
width: 1280px;
padding-bottom: 100px;
padding-top: 25px;
}
#submit
{
background: #E8C300;
border-radius: 5px;
height: 60px;
width: 640px;
margin-left: 33.4%;
margin-top: -6%;
 color: #FFFFFF;
}
form
{
    margin-top: 4%;
    text-align: center;
}
#img_contact 
{
width: 100%;
}
form div
{
    padding-left: 320px;
    padding-top: 20px;
    width: 25%;
}
.map img
{
    width: 100%;
   
}
.map{
    margin-top: 35%;
    margin-bottom: -5%;
}
/* Event */
.event 
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.event img
{
    width: 100%;
}

#event-bk
{
background-image: url(../img/event_bk.png) ;
background-size: cover;
background-repeat: no-repeat;
 height: 110vh;
 
}
.main_event h4
{
text-align: center;
padding-top: 5%;
letter-spacing: 0.5em;
text-transform: uppercase;
color: #FFFFFF;
}
.main_event p
{

position: absolute;
left: 35%;
bottom: -108%;
color: #FFFFFF;
}
/* Booking */
.mainFlex
{
display: grid;
grid-template-columns: repeat(2,1fr);
margin-bottom: 30%;
margin-top: 20%;
}
.inputBox
{
    height: 60px;
    width: 277px;
    border-radius: 5px;
   padding-right: -10px;
background: #E5E5E5;
border-radius: 5px;
}
.btnWide
{   height: 60px;
    width: 563.5763549804688px;
    border-radius: 5px;
    background: #E8C300;
    color: #E5E5E5; 
}
#form_booking
{
    margin-top:20%;
    margin-left: 15%;
}
#books
{
    padding-bottom: 5%;
}
#books h2
{
font-family: 'Banny';
font-size: 36px;
line-height: 48px;
text-align: center;
text-transform: uppercase;
color: #000000;
}
#zeit_booking
{   
margin-top: 25%;
margin-left: 75%;
width: 100%;
color: rgba(51, 51, 51, 0.5);
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
}
/* Galerie */
#galerie_bk
{
 background-image: url(../img/specialty.png);
 height: 100vh;
 background-size: cover;
 background-repeat: no-repeat;
 margin-top: -5%;
}

.maingalerie h6
{
 padding-top: 5%;   
text-align: center;
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.5em;
text-transform: uppercase;
color: #FFFFFF;
}
.galerie_info
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.img_gr
{
    margin-top: 15%;
   
    width: 100%;
}
.galerie_text
{
    text-align: center;
    margin-top: 35%;
}
.galerie_text h2
{
    font-family: 'Banny';
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
   
}
.galerie_text h5
{
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 28px;
display: flex;
align-items: flex-end;
text-align: center;
margin-left: 25%;
margin-bottom: 3%;
color: rgba(255, 255, 255, 0.9);

}
.galerie_text p
{
    color: rgba(255, 255, 255, 0.9);
}
/* ............. */
/*  Aktives Menu mit underline*/
#activeMenus a:focus{
    text-decoration: underline;
    border-bottom: 1px solid red;
}


/* menu Style */
.menu-section {
    min-height: 90vh;
  }
  .menu-div {
    text-align: center;
  }
  .menu-div h1 {
    font-size: 3rem;
    font-family: Banny;
    margin-bottom: 1%;
    text-transform: uppercase;
    margin-top: 7%;
  }
  .menu-div h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-top: 1%;
    margin-bottom: 3%;
    width: 36%;
    margin-left: 32%;
  }
  .menu-list {
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
  
    width: 70%;
    margin-left: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    margin-top: 7%;
  }
  .menu-list h5 {
    padding: 2% 4%;
  }
  .menu-h5 {
    border-right: 3px solid rgba(51, 51, 51, 0.2);
  }
  .menu-list h5 a {
    text-decoration: none;
    color: black;
  }
  .menu-forEach {
    margin-top: 5%;
    width: 90%;
    margin-left: 7%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 5%;
  }
  .div-forEach {
    margin-bottom: 6%;
  }
  
  .menu-forEach h1 {
    font-family: Banny;
    font-size: 25px;
  }
  .menu-forEach p {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: rgba(51, 51, 51, 0.5);
    margin-bottom: 2%;
  }
  /* event Style */
  .event-section {
    background: url(../img/bg.png) center / cover no-repeat;
    height: 90vh;
    color: #ffffff;
    text-align: center;
  }
  .event-div {
    color: #ffffff;
    display: flex;
    justify-content: space-around;
  
    align-items: center;
    height: 75vh;
    margin-right: 3%;
  }
  .event-div img {
    width: 110%;
  }
  .event-section h4 {
    font-family: "Open Sans", sans-serif;
    padding-top: 3%;
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 20px;
  }
  .event-section p {
    font-family: "Open Sans", sans-serif;
    color: rgba(255, 255, 255, 0.5);
  }