
*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  height: 100vh;
 
}
nav{
    display: flex;
    justify-content: space-evenly;
}
  nav .nav_header{
  
    display:flex;
    justify-content: space-between;
    list-style-type: none;
     width: 70%; 
     border-bottom : 1px solid rgba(255, 255, 255, 0.2);
     margin-left: 7%;
     margin-right:7%;
     align-items: center;
     height: 12vh;
}
.nav_header li{
    list-style: none;
}
.nav_header a{
    text-decoration: none;
    color: #fff;
    font-size: .9em;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

.nav_header img{
    margin-left: 15px;
    transform: translateY(50px);
}

#hero{
    display: grid;
    grid-template-columns: 20% 75% 20%
}
#zeit
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
   
}
#zeit p{
    transform: rotate(180deg);
    color: #ffffff;
    writing-mode: vertical-lr;
    font-size: .8em;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    transform: translateY(-600px);
}
#heroMain
{
    text-align: center;
    height: 100%;
    margin-right: 20%;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
#heroMain h1{
font-family: Banny;
font-size: 96px;
line-height: 0px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
transform: translateY(257px);
margin-left: 13%;
}
#heroMain h6{
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.5em;
text-transform: uppercase;
color: #FFFFFF;
transform: translateY(197px);
margin-left: 12px;
}
#heroMain div ,.slide-bottom{
    transform: translateY(-697px);
}
.slide-bottom
{
    /* margin-top: 10%; */
    transform: translateY(-1350px);
   
}
#heroMain div a{
    border-radius: 5px;
    font-size: 12px;
    padding: 20px 60px;
    text-decoration: none;
    color: #ffffff;
    box-sizing: border-box;
    margin-right: 20px;
   
}
#heroMain div a
{
    border-radius: 5px;
    font-size: 12px;
    padding: 20px 60px;
    text-decoration: none;
    color: #ffffff;
    box-sizing: border-box;
    margin-right: 30px;
}
.line
{
    height: 193vh; 
    
}
#btn
{
   /*  padding-top: -150%; */
    position: relative;
    top: -40%;
}

#explore
{
border: 1px solid rgba(255, 255, 255, 0.5);
box-sizing: border-box;
border-radius: 5px;
margin-left: 5%;
}
#book
{
  
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 5px;
  /*   transform: translateY(600px); */
}
#book:hover, #explore:hover
{
    background: #E8C300;
}

 #soial_media
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    row-gap: 100px;
    margin-right: 100%;
    transform: translateY(-600px);
} 
#soial_media a{
    width: 20px;
    height: 20px;
    
}

#line2
{
    transform: translateY(400px);
}
footer{
    height: 10vh;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 10%;
}
footer p{
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
    font-size: 17px;
    line-height: 12px;
}


